* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    position: relative;
    width: 100vw;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    background: linear-gradient(#79d7ff, #cceefc);
    border-bottom: 15px solid #99fa09;
    overflow: hidden;
}

.pipe, .mario {
    position: absolute;
    bottom: 0;
}

.pipe {
    width: 80px;
}

.pipe-slide {
    animation: pipe-slide 1.8s infinite linear;
}

.mario {
    width: 100px;
}

.mario-jump {
    animation: mario-jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 440px;
    animation: pipe-slide 10s infinite linear;
}

.start-game {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    padding: 1rem 0.5rem;
    background-color: #38bbf2;
    border: 10px solid #2b90bb;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 1px 1px #0074a4;
    box-shadow: 2px 2px #144c64;
}

@keyframes pipe-slide {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes clouds-slide {
    from {
        right: -440px;
    }
    to {
        right: 100%;
    }
}

@keyframes mario-jump {
    0%, 100% {
        bottom: 0;
    }

    35%, 65% {
        bottom: 180px;
    }
}